body {
  background-color: grey;
}

h1 {
  color: #c2be7c;
  text-align: center;
}

h3 {
  color: #d29397;
  text-align: center;
}

p {
  color:#c2be7c;
  background-color:white;
.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 70%
}
