body {
  background-color: grey;
}

h1 {
  color: #c2be7c;
  text-align: center;
}

h3 {
  color: #d29397;
  text-align: center;
}

h5 {
  color:#c2be7c;
  text-align: center;
  background-color: #f7ede2;
.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 70%
}
